{% extends 'base.html.twig' %}

{% block body %}

<h1>WELLCOME TO THE ADMINE</h1>

<h2>School</h2>

<ul>
  {% for school in schools %}
  
  <li>
    
    <div>{{school.name}}</div>
    <div>{{school.uai}}</div>
    <div>{{school.adresse}}</div>
    <div>{{school.cp}}</div>
    
  </li>
  
  {% endfor %}
</ul>

<ul>
  
  {% for flat in flats %}
  
    <li>
      <div>{{flat.name}}</div>
    </li>
  
  {% endfor %}
  
</ul>

<a href="{{path('admin_school', {'key':key})}}">Back to school</a>

{% endblock %}