{% extends 'base.html.twig' %}

{% block body %}
<h1>{{school.name}} edit</h1>

<table>
  <thead>
    <td>id</td>
    <td>uai</td>
    <td>name</td>
    <td>adresse</td>
    <td>cp</td>
    <td>lat</td>
    <td>long</td>
  </thead>
  <tr>
    <td>{{school.id}}</td>
    <td>{{school.uai}}</td>
    <td>{{school.name}}</td>
    <td>{{school.adresse}}</td>
    <td>{{school.cp}}</td>
    <td>{{school.latitude}}</td>
    <td>{{school.longitude}}</td>
  </tr>
</table>

<div>Appartements de l'école</div>

<ul>
  {% for flat in flats %}

  <li>
    <div><a href="{{ path('admin_flat', {'id': flat.id, 'uai':app.request.attributes.get("uai") })}}">{{flat.type}} {{flat.price}}</a></div>
  </li>

  {% endfor %}
</ul>

<div>Objects de l'école</div>

<ul>
  {% for object in objects %}

  <li>
    <div><a href="{{ path('admin_object', {'id': object.id, 'uai':app.request.attributes.get("uai") })}}">{{object.name}} {{object.price}}</a></div>
  </li>

  {% endfor %}
</ul>

<div>
  <a href="{{ path('admin_school') }}">Back to the list</a>
</div>
{% endblock %}