{% extends 'base.html.twig' %}

{% block body %}

<h1>WELLCOME TO THE ADMINE</h1>

<h2>User</h2>

<ul>
  {% for user in users %}

  <li>

    <div>User mail : {{user.mail}}</div>
    <div>User token : {{user.userkey}}</div>
    <div>User rights : {{user.rights}}</div>
    <div><a href="{{path('admin_deleteuser', {'id': user.id, 'key': key})}}">Delete this user</a></div>

  </li>

  {% endfor %}
</ul>

<a href="{{path('admin_index', {'key': key})}}">Back to the index</a>

{% endblock %}